/**
  * @name Smudge
  * @author Maks_kos
  * @version 1.2
  * @description Highly customized dark theme for Discord
  *@source https://github.com/MaksimKosyanchuk/Smudge
*/

@import url('https://maksimkosyanchuk.github.io/Smudge/src/Chats.css');

@import url('https://maksimkosyanchuk.github.io/Smudge/src/ContextMenu.css');

@import url('https://maksimkosyanchuk.github.io/Smudge/src/Profiles.css');

@import url('https://maksimkosyanchuk.github.io/Smudge/src/SearchInput.css');

@import url('https://maksimkosyanchuk.github.io/Smudge/src/Server.css');

:root
{
  --fg-primary: hsl(0 0% 100% / 0.1);
  --accent: 0, 231, 169;
  /* --accent: 176, 0, 173; */
  --glow-intensity: 1;
  --input-glow-intensity: var(--glow-intensity);
  --blur: blur(30px);
  --members-glow-intensity: var(--glow-intensity);
  --main-bck-color: rgba(20, 20, 20, 0.5);
  --server-selected-colour: var(--accent);
  --server-hover-colour: var(--accent);
  --server-unread-colour: var(--accent);
  --server-glow-intensity: var(var(--glow-intensity));
  --server-spacing: 16px;
  --light-text: #c9c9c9;
}